<% layout("layouts/boilerplate") %>

<div class="row">
    <div class="mb-3 col-8 offset-2">
        <br>
        <h4>Create new listing</h4>
        <form method="post"
              action="/listings"
              novalidate 
              class="needs-validation" 
              enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input name="listing[title]" id="title" class="form-control" placeholder="enter title" type="text" required>
                <div class="valid-feedback">Title looks good!</div>
                <div class="invalid-feedback">Please enter a title!</div>
            </div>

            <div class="mb-3">
                <label for="desc" class="form-label">Description</label>
                <textarea name="listing[description]" class="form-control" id="desc" placeholder="enter description" required></textarea>
                <div class="invalid-feedback">Please enter a sort description</div>
            </div>


            <div class="mb-3">
                <label for="image" class="form-label">Upload Listing Image</label>
                <input name="image" type="file" id="image" class="form-control" placeholder="enter image url" >
            </div>

            <div class="row">
                <div class="mb-3 col-md-5">
                    <label for="location" class="form-label">Location</label>
                    <input name="listing[location]" id="location" class="form-control" placeholder="enter location" type="text" required>
                    <div class="invalid-feedback">Location should be valid!</div>
                </div>

                <div class="mb-3 col-md-7">
                    <label for="country" class="form-label">Country</label>
                    <input name="listing[country]" id="country" class="form-control" placeholder="enter country" type="text" required>
                    <div class="invalid-feedback">Country name should be valid!</div>
                </div>
            </div>


            <div class="row">
                <div class="mb-3 col-md-5">
                    <label for="price" class="form-label">Price</label>
                    <input name="listing[price]" id="price" class="form-control" placeholder="enter price" type="number" required min="0">
                    <div class="invalid-feedback">Price should be valid!</div>
                </div>

                <div class="mb-3 col-md-7">
                    <label for="category" class="form-label">Category</label>
                    <select name="listing[category]" class="form-select" aria-label="Default select example">
                        <option selected value="Room">Room</option>
                        <option value="Flat">Flat</option>
                        <option value="Mountain">Mountain</option>
                        <option value="Castle">Castle</option>
                        <option value="Historical">Historical</option>
                        <option value="Camping">Camping</option>
                        <option value="Amazing pool">Amazing pool</option>
                        <option value="Beach">Beach</option>
                        <option value="Lake">Lake</option>
                        <option value="Desert">Desert</option>
                        <option value="Arctic">Arctic</option>
                        <option value="Farm">Farm</option>
                        <option value="Amazing view">Amazing view</option>
                    </select>
                </div>


            </div>

            
            

            <br>
            <button class="btn btn-dark add-btn">Add</button>
        </form>
    </div>
</div>

